fastapi
uvicorn
opencv-python-headless
pytesseract
numpy
Pillow
python-multipart
requests
sqlalchemy
asyncpg
apscheduler
passlib
python-jose
pydantic-settings
email-validator
alembic
argon2-cffi
pydantic
python-dotenv
cors
aiofiles
fastapi-cors
pytest
pytest-asyncio
httpx
pywebpush
pdf2image
firebase-admin
firebase